.App {
  font-size: 18px;
  text-align: center;
  border: double thick darkblue;
  margin: 15px 10px;
  padding: 15px 0;
  font-style: italic;
}

.tasks {
  display: inline-block;
  padding: 15px 10px;
}

.inputDiv {
  margin: 10px;
}

.add{
  padding: 10px 15px;
  background-color: #dc90c1;
  border: 2px solid #b00f7e;
  border-radius: 4px;
  margin: 0 15px;
  cursor: grab;
  font-weight: bold;
}
.add:active {
  background-color: #b00f7e;
}

.inputTask {
  padding: 10px;
}

.remove {
  background: url("delete-svgrepo-com.svg") 98% 50% no-repeat;
  border: 1px solid black;
  padding: 10px;
  width: 28px;
  height: 28px;
}

.remove:active {
  border: 3px solid black;
}

